#check-container {
  .header,.footer{
    background: #ececec;
  }
  #content {
    padding: 0 50px;
    .row, .col {
      padding: 10px;
    }
    .rowtop {
      top: 10px;
    }
    .radio-col{
      left: 30px;
    }
    .button {
      width: 90px;
    }
    .input {
      width: 200px;
    }
    .datacode{
      width: 300px;
    }
  }
}
